.container-comm{
    display: flex;
    flex-direction: row ;
    align-items: flex-start;
    padding-top: 20px;

}

.container-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
}
.title-comm, .title-comm-disable{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: blue;
}
#title-comm-disable, .title-comm-disable{
    color: lightgrey;
}

.comm-details{
   display: inline-flex;
   align-items: center;
   height: 24px;
    
}
.comm-details-outer{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    height: 30px;
}
 
